{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-syntax-class-properties",
    [
      "@babel/plugin-syntax-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta"
  ],
  "env": {
    "start": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": ["react"],
                "locals": ["module"]
              }
            ]
          }
        ]
      ]
    }
  }
}
